*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* Typo Mix*/
h1,
.hero p,
.getstart-section h2,
footer h5 {
  color: #fff;
}

.hero_right a{
  font-weight: bold;
  color: #0C65FF;
}

h1,
.small_container h5,
.features-section h5{
  font-weight: bold;
}

/* Mix */
.lightgrey-text{
  color: #5b6987;
}

.angle{
display: inline-block;
margin: 5px;
font-size: 20px;
vertical-align: middle;
}

.fa-circle{
  font-size: 13px;
  color: #0D69FF;
  margin-top: 20px;
}

.custom_btn{
  background-color: #fff;
  color: #579AFF;
  border-radius: 3px;
  padding: 3px 5px;
  line-height: normal;
  border: 1px solid #579AFF;
}

section, footer{
  padding-top: 30px;
  padding-bottom: 30px;
}


/* Top Header */
.header_top{
  background-color: #fff;
  height: 60px;
  line-height: 60px;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10;
}

#digocean-logo{
  width: 100%;
}

.central_nav li,
.lateral_nav li{
  display: inline-block;
}

.central_nav ul a,
.lateral_nav ul a{
  color: #000;
  padding: 10px;
}

a:hover{
  text-decoration: none;
}

.fa-angle-down{
  padding-left: 3px;
}

/* Hero */
.hero{
  background-color: #0069ff;
  background-image: url("../img/bg-hero.svg");
  background-size: cover;
  background-position: bottom;
  margin-top: 60px;
}

.white-box{
  margin: 0 auto;
  width: 70%;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero_right .form-control,
.hero_right .btn{
  margin: 5px 0px;
}

.hero_right .btn_account{
  background-color: #579AFF;
  padding: 3px;
  width: 100%;
  border-style: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}

.hero_right .btn_signup{
  background-color: #fff;
  padding: 3px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  color: #5b6987;
  font-weight: bold;
  background-image: url("../img/google-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.hero_right p{
  color: black;
  padding: 0px 30px;
}

.hero_right small a{
  text-decoration: underline;
  margin-top: 5px;
}
 /* /Hero */

 /* Logo Section */
.lightgrey-bg{
  background-color: #F3F5F9;
}

.logo_img{
  width: calc((100% / 6) - 4px);
  padding: 0px 10px;
}

.logo-section a, .rockerbox a:first-of-type{
  display: block;
  color: #579AFF;
}
/* /Logo Section */

/* Nested Section */
.vertical-list li{
  list-style: none;
  border-left: 1px solid #5b6987;
  padding: 10px;
}

.small_container{
  max-width: 80%;
  margin: auto;
  margin-top: 30px;
}
/* /Nested Section */

/* Carousel Section */
#carousel_img{
  max-width: 40%;
  margin: 10px 0px 20px;
}

.carousel-section a{
  vertical-align: super;
}
/* /Carousel Section */

/* Feature Section */
.feat_img{
  width: 10%;
  padding-top: 25px;
}
/* /Feature Section */

/* Region Section */
.region-section{
  background-image: url("../img/bg-map.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  background-color: #031B4E;
}

.row_table span, p{
  margin-right: 20px;
  display: inline-block;
}

.row_table .test-speed{
  color: #18D5D1;
  float: right;
}

.row_table{
  border-bottom: 1px solid #fff;
  margin-top: 5px;
}
/* /Region Section */

/* Rockerbox Section */
.carousel-content{
  display: inline-block;
  margin: 0 auto;
  width: 45%;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px 5px;
  vertical-align: middle;
}

.carousel-content img{
  width: 30%;
  margin-bottom: 15px;
}

.carousel-content a{
  display: block;
}

/* GetStarted Section*/
.getstart-section{
  background: linear-gradient(90deg, rgba(1,0,196,1) 0%, rgba(0,16,122,1) 100%);
  padding: 30px 0px 50px;
}

.getstart-section .custom_btn{
  border: 0px;
}
/* /GetStarted Section*/

/* Footer */
footer{
  background-color: #031C4E;
  padding-bottom: 60px;
}

#small_logo{
  width: 10%;
  padding-top: 20px;
  display: block;
}

#small_logo + p{
  color: #A6ADBD;
  margin-bottom: 0px;
}

footer p:nth-of-type(2){
  display: block;
}

#logo-list li{
  display: inline-block;
  color: #A6ADBD;
  margin-right: 8px;
}

.footer-list li,
.footer-list a{
  padding: 1px;
  list-style: none;
  color: #A6ADBD;
}
/* /Footer */

/* Helper */
.helper{
  background-color: #031C4E;
}

.shark-box{
  position: fixed;
  bottom: 1px;
  right:10px;
  width: 100%;
  border-radius: 3px;
}

.shark-box p{
  position: absolute;
  bottom: 13px;
  right: 85px;
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 3px;
}

.shark-box .fa-caret-right{
  color: #fff;
  position: absolute;
  bottom: 30px;
  right: 100px;
}

.shark-box img{
  position: absolute;
  float: left;
  bottom: 20px;
  right: 40px;
  width: 50px;
  background-color: #0D6AFF;
  border-radius: 3px;
  padding: 4px 2px;
}

.notify-number{
  background-color: red;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  bottom: 51px;
  height: 30px;
  width: 30px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

/* da 0 a 768px */
@media screen and (max-width: 768px) {
  #digocean-logo {
      width: 100px;
  }

.logo_img {
  width: calc((100% / 2) - 4px);
}

.helper{
  display: none;
}

}
  /* da 0 a 992 */
@media screen and (max-width: 992px){
.white-box{
  width: 100%;
}

.feat_img{
    width: 5%;
  }

.region-section .col-xs-12:last-child{
  margin-top: 40px;
}

}
